.background-img {
  background-image: url("../img/bg-img-5.jpeg");
  height: 100vh; }

#header-button {
  position: relative;
  top: 80vh;
  left: 60vw; }

#info-primary {
  height: 100%;
  width: 100%; }

#info-secondary {
  height: 50vh;
  width: 100%; }

footer {
  height: 20vh;
  width: 100%; }
